<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>PIH</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>

    <require_modules>
        <require_module>
            org.openmrs.module.appframework
        </require_module>
        <require_module>
            org.openmrs.module.appui
        </require_module>
        <require_module>
            org.openmrs.module.coreapps
        </require_module>
        <require_module>
            org.openmrs.module.emrapi
        </require_module>
        <require_module>
            org.openmrs.module.htmlformentry
        </require_module>
        <require_module>
            org.openmrs.module.uicommons
        </require_module>
        <require_module>
            org.openmrs.module.uiframework
        </require_module>
        <require_module>
            org.openmrs.module.uilibrary
        </require_module>
        <require_module>
            org.openmrs.module.webservices.rest
        </require_module>
    </require_modules>

    <activator>${project.parent.groupId}.${project.parent.artifactId}.PihAppsActivator</activator>

    <filter>
        <filter-name>TermsAndConditionsFilter</filter-name>
        <filter-class>org.openmrs.module.pihapps.filter.TermsAndConditionsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>TermsAndConditionsFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RequireLoginLocationFilter</filter-name>
        <filter-class>org.openmrs.module.pihapps.filter.RequireLoginLocationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RequireLoginLocationFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <globalProperty>
		<property>pihapps.labs.labOrderType</property>
		<defaultValue>89da4d80-f1a3-11e1-bf88-bc305be7bdd2</defaultValue>
		<description>
			Lab Order type to be used by pihapps module to make an order
		</description>
	</globalProperty>
</module>
